* {
  padding: 0px;
  margin: 0px;
}

::selection {
  color: darkcyan;
  background-color: #f3f3f3;
}


body {
  font-family: sans-serif;
}


/* navbar */


.navbar {
  background-image: url(./img/slider-img.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 350px;
  padding-bottom: 300px;
  position: relative;
  overflow: hidden;
  z-index: 1;
 nav{
  margin-top: 20px;
 }

}

.bg_color0
{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2b2b2bc2;
  z-index: -1;
}



.logo,
a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 22px;

}

/*   contact  */
.contact {
  text-align: center;
  margin-top: 200px;
  font-size: 20px;
  color: white;
  position: relative;
  top: 40px;
  z-index: 1;
}
#p {
  font-size: 70px;
  font-weight: bolder;
}
.video_t {
  display: flex;
  justify-content: center;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: relative;
  top: 100px;
  width: 120px;
  padding: 8px;
  background-color: goldenrod;
  color: white;
  transition: 1.5s;
}
.video:hover {
  background-color: black;
  color: white;
}

#home:hover {
  color: goldenrod;
  border-radius: 10px;
  scale: (0.2);
}

/* story part */
body{
  font-family: "Roboto", sans-serif
;
}
.main_aside
{
   height: 420px;
 width: 1358px;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

#aside1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 height: 320px;
 width: 540px;

  p {
    color: black;
  }
  #about
  {
    font-size: 40px;
    color: #000000c9;
    
  }
  h2
  {
    font-size: 19px;
    color: goldenrod;
  }
}

.story
{
  display: flex;
  justify-content: space-evenly;
}

#aside2 {
 width: 540px;
 height: 300px;
}

.Read {
  background-color: goldenrod;
  width: 200px;

  text-align: center;
  border-radius: 3px;
  padding: 7px 30px;
  transition: 1.5s;
}
.Read:hover {
  background-color: black;
  color: white;
}

#or {
  text-align: center;
  font-size: 45px;
}
.span::before {
  content: "";
  position: absolute;
  left: 340px;
  right: 0;
  width: 90px;
  height: 9px;
  background-color: yellow;
  margin-top: 22px;
}
.span::after {
  content: "";
  position: absolute;
  left: 930px;
  right: 0;
  width: 90px;
  height: 9px;
  background-color: yellow;
  margin-top: 22px;
}

.PRODUCTION {
  margin-top: 45px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 15%;
  padding-left: 75px;
  margin-right: 30px;
  text-align: center;

  h4 
  {
    margin-bottom: 20px;
  }
}
#icon
{
  font-size: 50px;
  margin-bottom: 20px;
}
.PRODUCTION:hover {
  #icon {
    transform: translatey(-10px);
    transition: 1s;
    
  }
  h4 {
    color: rgb(136, 136, 21);
  }
}

/* theatre_img */

.theatre_img {
  background-image: url(./img/221122-Crown-Perth-Entertainment-Theatre-Homepage-1800x1000.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: yellow;

  a {
    position: relative;
    top: 100px;
    right: 160px;
    font-size: 120px;
    z-index: 2;
  }
}

#theatre_img1:hover {
  transition: 1s;
  color: yellow;
}

/* our cast */
.span2
{
 display: flex;
 justify-content: center;
 position: relative;
 top: 100px;
 font-size: 30px;
}
.span2::after {
  content: "";
  position: absolute;
  left: 880px;
  right: 0;
  bottom: 30px;
  width: 90px;
  height: 9px;
  background-color: yellow;
  margin-top: 32px;
}
.span2::before {
  content: "";
  position: absolute;
    bottom: 30px;

  left: 380px;
  right: 0;
  width: 90px;
  height: 9px;
  background-color: yellow;
  margin-top: 32px;
}

.main_cast
{
  display: flex;
  justify-content: center;
  width: 1358px;
  height: 600px;
  border: 1px solid #000;
}
.main_cast_main
{
   height: 100%;
  width: 100%;
}

.cast1
{
  height: 400px;
  width: 550px;
  border: 1px solid #000;
}
.cast2
{
  height: 400px;
  width: 550px;
  border: 1px solid #000;
}
.cast3
{
  height: 400px;
  width: 550px;
  border: 1px solid #000;
}
.cast4
{
  height: 400px;
  width: 550px;
  border: 1px solid #000;
}


/* latest video */

.latest_video {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  position: relative;
  margin-top: 99px;
  overflow: hidden;
}
#theatre_img {
  height: 400px;
  border: 1px solid #000;
  overflow: hidden;
}

.videos {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 300px;
  height: 500px;
  font-size: 17px;
  transition: 1.4s;
  overflow: hidden;
}
.videos:hover {
  background-color: goldenrod !important;
  color: white;
  overflow: hidden;
  img {
    overflow: hidden;
    scale: 1.1;
  }
}
.LATEST {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  margin-bottom: 111px;
}
.LATEST::after {
  position: absolute;
  content: "";
  left: 980px;
  right: 0;
  width: 90px;
  height: 9px;
  background-color: yellow;
}
.LATEST::before {
  position: absolute;
  content: "";
  left: 280px;
  right: 0;
  width: 90px;
  height: 9px;
  background-color: yellow;
}
.GALLERY {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  margin-bottom: 111px;
}
.GALLERY::after {
  position: absolute;
  content: "";
  left: 980px;
  right: 0;
  width: 90px;
  height: 9px;
  background-color: yellow;
}
.GALLERY::before {
  position: absolute;
  content: "";
  left: 280px;
  right: 0;
  width: 90px;
  height: 9px;
  background-color: yellow;
}
.gallery_title {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: black;

  a {
    color: black;
  }
}
.allimg {
  margin-left: 17px;
  font-size: 22px;
}
.img {
  display: inline-block;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 100px;
  margin-top: 99px;
  overflow: hidden;
}

#p1,
#p2,
#p3,
#p4,
#p6,
#p7 {
  border: 2px solid violet;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  max-height: 250px;
  max-width: 280px;
  overflow: hidden;
}
#p5 {
  border: 2px solid violet;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  overflow: hidden;

  height: 250px;
  width: 580px;
  transition: 1s;
}

#p1:hover,
#p2:hover,
#p3:hover,
#p4:hover,
#p5:hover,
#p6:hover,
#p7:hover {
  img {
    overflow: hidden;
    transform: scale(1.2);
  }
}

/* review section */

.content_bg_img {
  margin-top: 90px;
  background-image: url(./img/bgimg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#data {
  position: relative;
  border: 2px solid black !important;
  border-radius: 30px;
  padding: 100px;
  max-height: 100px;
  max-width: 300px;
  background-color: white;
  border-radius: 30px;
  font-size: 15px;
}

#review-img {
  position: absolute;
  margin-top: 300px;
  border-radius: 55px;
  overflow: hidden;
}
#review_peple_name {
  color: brown;
  position: absolute;
  margin-top: 450px;
  color: wheat;
  font-weight: bold;
  font-size: 19px;
}
#star {
  color: #ffd43b;
}

#web {
  margin-top: 5px;
  color: rgba(10, 15, 12, 0.9);
  font-size: 17px;
}

/* brand img */

.brand {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 500px;
  font-size: 17px;
  margin-right: 90px;
  color: rgba(red, green, blue, alpha);
}

/* blog */

.blog {
  display: flex;
  justify-content: space-evenly;
}

.blog1,
.blog2,
.blog3 {
  margin-top: 100px;
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border: 2px solid white !important;
  margin-left: 29px;
  height: 480px;
  width: 350px;
  box-shadow: 3px 3px 5px 4px rgb(85, 18, 18,0.6);
  
}

#playicon {
  position: absolute;
  margin-bottom: 200px;
  height: 50px;
  width: 50px;
  left: 150px;

  font-size: 50px;
}

#blog1_name {
  font-weight: bolder;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#blogicon {
  margin-right: 9px;
  font-size: 12px;
  margin-bottom: 30px;
}
.blogimg1 {
  overflow: hidden;
  height: 330px;
}
.blog:hover {
  .blogimg1:hover {
    img {
      scale: 1.1;
    }

    #blog1_name {
      transition: 1.4s;
      color: tan;
    }
    #arrow_right,
    #arrow_left {
      background-color: saddlebrown;
      z-index: 3;
    }
  }
  i:hover {
    transition: 1.4s;

    color: gold;
    z-index: 2;
  }
  #playicon:hover {
    color: rgb(230, 197, 16);
  }
}

.titile_blog {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
}

#arrow_right {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 70px;
  border: 2px solid violet;
  border-radius: 30px;
  margin-top: 192px;
  margin-left: 230px;
}

#arrow_left {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 70px;
  border: 2px solid violet;
  border-radius: 30px;
  margin-top: 192px;
  margin-left: 150px;
}

/* footer  */

.contact_footer {
  display: inline;
  margin-left: 530px;
  text-align: center;
  align-items: center;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 160px;
}
#contact_title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

#contact_title::after {
  position: absolute;
  content: " ";
  width: 90px;
  height: 9px;
  margin-left: 650px;

  background-color: #ffd43b;
}

#contact_title::before {
  position: absolute;
  content: " ";
  width: 90px;
  height: 9px;
  margin-right: 650px;

  background-color: #ffd43b;
}

.magaone_office {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.address {
  height: 700px;
  width: 700px;
}

#office_name {
  font-size: 30px;
  margin-bottom: 30px;
}

.address_name_tel_email {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500;
}

.address_icon {
  margin-right: 10px;
  font-size: 12px;
  margin-bottom: 30px;
}

.address_icon {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #531010;
}
.a_icon {
  margin-right: 19px;
  font-size: 25px;
  color: #000000;
}
.form {
  height: 700px;
  width: 700px;
}
#name_user {
  border: hidden;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
  margin-top: 50px;
}

#msg_box {
  margin-top: 40px;
  margin-left: 120px;
  border: none;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}
#name_user:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
}
#msg_box:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
}
